@charset "utf-8";
*{margin:0; padding:0;}
html, body{margin:0;}
div,h1,h2,h3,h4,h5,p{margin:0;}
ul li{list-style:none;}
a{text-decoration: none;}
a:visited{color:#333;}

#randomBox{

    max-width:1000px;
    height:500px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

#randomBox .randomWrap{

    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#randomBox .randomWrap .randomBall{

    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:#1a87a8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3px;
    margin:30px;
    color:#eaeaea;

}

.webSiteBox{

    animation: ball1 1s infinite ease-out;
}
.reactBox {

    animation: ball2 0.8s infinite ease-out;
}

.javascriptBox {

    animation: ball3 1s infinite ease-out;
}


@keyframes ball1{

    0%{transform: translateY(0px) translateX(0px);}
    25%{transform: translateY(8px) translateX(6px); }
    50%{transform: translateY(10px) translateX(0px);}
    75%{transform: translateY(8px) translateX(-6px);}
    100%{transform: translateY(0px) translateX(0px);}

}
@keyframes ball2{

    0%{transform: translateY(0px) translateX(0px);}
    50%{transform: translateY(5px) translateX(3px);}
    75%{transform: translateY(5px) translateX(-3px);}
    100%{transform: translateY(0px) translateX(0px);}

}
@keyframes ball3{

    0%{transform: translateY(0px) translateX(0px);}
    25%{transform: translateY(5px) translateX(-3px); }
    50%{transform: translateY(8px) translateX(0px);}
    75%{transform: translateY(5px) translateX(3px);}
    100%{transform: translateY(0px) translateX(0px);}

}

#randomBox .randomBtn{

    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 135, 168, 0.6);
    border:none;
    font-size: 20px;
    font-weight: 300;
    color:#fff;

}

#randomBox .randomBtn:hover{
  
     font-size: 22px;
     transition: font-size 0.5s;

}